{% extends 'base.html'%}
{% block content %}

<div class="card">
  <div class="card-header">
        {{customer_record.first_name}} 
        {{customer_record.last_name}}   
  </div>
  <div class="card-body">
    <p class="card-text"> <strong>ID: </strong>{{customer_record.id}} <br>
                <strong>Email: </strong>{{customer_record.email}} <br>
                <strong>phone: </strong>{{customer_record.phone}} <br>
                <strong>Address: </strong>{{customer_record.adress}} <br>
                <strong>City: </strong>{{customer_record.city}} <br>
                <strong>State: </strong>{{customer_record.state}} <br>
                <strong>Zipcode: </strong>{{customer_record.zipcode}} <br>
                <strong>Create At: </strong>{{customer_record.created_at}} <br>
                
    </p>
    
  </div>
</div>
<br>
<a href="{% url 'home'  %}" class="btn btn-primary">Back</a>

<form method="POST" action="{% url 'delete' customer_record.id %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
<a href="{% url 'update_record' customer_record.id  %}" class="btn btn-secondary">Update Record</a>
                
{% endblock %}